<html xmlns:th="http://www.thymeleaf.org">

<head>
	<h3>Index demo</h3>
</head>

<body>
	Count 1: <th:block th:text="${count1}"></th:block>
	<br>
	Count 2: <th:block th:text="${count2}"></th:block>
	<Br>
	Sum 1: <th:block th:text="${sum1}"></th:block>
	<br>
	Sum 2: <th:block th:text="${sum2}"></th:block>
	<br>
	Sum 3: <th:block th:text="${sum3}"></th:block>
	<br>
	Sum 3: <th:block th:text="${max}"></th:block>
	<br>
	Sum 3: <th:block th:text="${min}"></th:block>
	<br>
	Sum 3: <th:block th:text="${avg}"></th:block>
</body>